<h1>{{title}}</h1>
<div class = "wrapper">
    <img src="assets/img/me.jpg" class="mypic">
    <div class = "aboutMeText">
        <p >
            I am a 5th year student double major in Computer Science and Biological Science at the University of Calgary. 
        </p>
        <p>
            I am a strong believer for personal growth, and always looking for ways to develop impactful skills that pushes growth of myself and people around me.
        </p>
    </div>
</div>
<p class="resume"><a href="assets/resume/resumeSeng.pdf">Download Resume</a></p>