<h1>{{title}}</h1>
<div>
    <a href="https://github.com/zacharykoo/EcommerceWebApp"><img src="assets/img/ecom.png" class="projectImg"></a>
    <embed src="assets/text/ecom.txt" class = "projectText">
</div>
<div>
    <a href="https://github.com/zacharykoo/DistributedSystem"><img src="assets/img/distributed.png" class="projectImg"></a>
    <embed src="assets/text/distributed.txt" class = "projectText">
</div>
<div>
    <a href="https://github.com/zacharykoo/selfcheckoutProject"><img src="assets/img/selfCheckout.png" class="projectImg"></a>
    <embed src="assets/text/selfCheckout.txt" class = "projectText">
</div>