<div class="title">
      <h1>{{title}}</h1>
</div>
<div class = "wrapper">
    <div>
        <a href="https://github.com/zacharykoo/EcommerceWebApp"><img src="assets/img/ecom.png" class="projectImg p1"></a>
        <div class = "projectText t1">
            <h2>Ecommerce Website Application</h2>
            <p>
                Backend API handling created with industrial approach where a handler is used to process each "GET", "POST" and "PUT" requests.
            </p>
            <p>
                SQLite is used for database management and GORM is used to handle the Query and creates the database and is written in Golang.
            </p>
            <p>
                Frontend user interface are created using Angular.
            </p>
        </div>
    </div>
    <div>
        <a href="https://github.com/zacharykoo/DistributedSystem"><img src="assets/img/distributed.png" class="projectImg p2"></a>
        <div class = "projectText t2">
            <h2>Distributed System</h2>
            <p>
                Designing and implementing distributed systems with system communications using paradigms, fault tolerance and coordination in Java.
            </p>
            <p>
                Communications and information transfer are ordered by timed system and ACKs are implemented to ensure data is sent correctly.
            </p>
        </div>
    </div>
    <div>
        <a href="https://github.com/zacharykoo/selfcheckoutProject"><img src="assets/img/selfCheckout.png" class="projectImg p3"></a>
        <div class = "projectText t3">
            <h2>Supermarket Self-Checkout System</h2>
            <p>
                This project is designed to replicate a normal self-checkout system in a super market. 
            </p>
            <p>
                Items can be scanned, bagged and price will be updated accordingly. 
            </p>
            <p>
                Weight of the items are tracked in the bagging area to ensure items is correctly scanned. Payment methods includes Cash, Card and digital coins.
            </p>
        </div>
    </div>
</div>